
@font-face {
  font-family: stormfaze;
  src: url(../res/fonts/stormfaze.ttf);
}

@font-face {
  font-family: wargames;
  src: url(../res/fonts/wargames.ttf);
}

body {
  color: lime;
  background-color:black;
  font-family: "Courier New";
  font-size: 14px;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}


.noselection {
	-webkit-touch-callout: none; /* Safari */
	user-select: none; /* standard syntax */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

*::-webkit-media-controls-panel {
	display: none !important;
	-webkit-appearance: none;
}

/* Old shadow dom for play button */
*::-webkit-media-controls-play-button {
	display: none !important;
	-webkit-appearance: none;
}

/* This one works! */
*::-webkit-media-controls-start-playback-button {
	display: none !important;
	-webkit-appearance: none;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(102, 102, 102);
	border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 9px;
}

body::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}


textarea:focus, input:focus {
  outline: none;
}

a {
  font-family: "Courier New";
  color: #0080ff;
}

iframe {
  border: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#matrix-editor {
  position: absolute;
  left: 0;
  top:0;
  width: 400px;
}

.btnShadow {
  /* -webkit-box-shadow: inset 0px 1px 0px 0px rgb(52, 253, 189);
  -moz-box-shadow: inset 0px 1px 0px 0px rgb(52, 253, 189);
  box-shadow: inset 0px 1px 0px 0px rgb(52, 253, 189); */
  cursor: pointer;
  /* color: rgb(0, 255, 10);
  text-shadow: 0px 0px 7px #80ffe0; */
  font-family: stormfaze;
}

div.btnShadow:hover {
  opacity: 1;
  background-color: rgb(78, 255, 190);
  color:rgb(0, 0, 0);
  text-shadow: 0px 0px 20px #0dfdc1;
}

.debugBox {
  position:absolute;
  left:5px;
  bottom:0;
  font-size: 12px;
  width:200px;
  height: 15px;
  background-color: black;
  color: lime;
}

.textEditor {
  font-size: 10px;
  width : 100%;
  max-width: 850px !important;
  min-width: 550px !important;
}

textarea {
  -webkit-box-shadow: inset 0px 0px 22px 2px rgba(0,255,30,1);
  -moz-box-shadow: inset 0px 0px 22px 2px rgba(0,255,30,1);
  box-shadow: inset 0px 0px 22px 1px rgba(0,255,30,1);
  background-color: black;
  color: lime;
}

.textureCanvas2d {
  display:none;
  position:absolute;
  left:-3000px;
  top:0px;
  width:512px;
  height:512px;
}

.add-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:100%;
  width: -webkit-fill-available;
  height:30%;
  background-color: rgb(27, 27, 27);
  font-family: "stormfaze";
  border-radius: 15px;
}

.button1 {
  background-color:  rgb(27, 27, 27);; 
  color: rgb(255, 255, 255); 
  border: 2px solid #80004b;
}

.button1:hover {
  background-color: #710243;
  color: white;
}

.button2 {
  background-color:  rgb(27, 27, 27);; 
  color: white; 
  border: 2px solid #4CAF50;
}

.button2:hover {
  background-color: #95af4c;
  color: white;
}

/** Style for UI system hud controls */

.matrixTagHolder {
  display:flex;
  flex-direction: column;
  position: absolute;
  left:0;top:0;
  background-color: black;
  color: #0080ff;
  font-family: stormfaze;
}

span {
  cursor: default;
  width: 100px;
}

.mLightInput {
  width: 150px;
  font-size: 26px;
}

.mLightCom {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border: solid #0c2540 3px;
}

#matrix-net {
  position: absolute;
  display: none;
  right: 0;
  height: 100%;
  width: 40vh;
  font-family: stormfaze;
  background-color: crimson;
}

.timeLine {
  display: flex;
  position: absolute;
  left: 5%;
  top:85%;
  width:90%;
  flex-direction: column;
}


.timeLineSlider {
  display:flex;
  flex-direction: row;
}
.timeLineSlider, p {
  background: rgba(12, 122, 22, 0.5);
  width:100%;
  margin: 5px 5px 5px 5px;
}

/* For animation Line */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}