
@font-face {
  font-family: stormfaze;
  src: url(../res/fonts/stormfaze.ttf);
}

@font-face {
  font-family: wargames;
  src: url(../res/fonts/wargames.ttf);
}

body {
  color: lime;
  background-color:black;
  font-family: "Courier New";
  font-size: 14px;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  font-family: "Courier New";
  color: #0080ff;
}

iframe {
  border: none;
}

#matrix-editor {
  position: absolute;
  left: 0;
  top:0;
  width: 400px;
}

.btnShadow {
  -webkit-box-shadow: inset 0px 1px 0px 0px rgb(52, 253, 189);
  -moz-box-shadow: inset 0px 1px 0px 0px rgb(52, 253, 189);
  box-shadow: inset 0px 1px 0px 0px rgb(52, 253, 189);
  cursor: pointer; cursor: hand;
  color: rgb(0, 255, 10);
  text-shadow: 0px 0px 7px #80ffe0;
  font-family: stormfaze;
}

div.btnShadow:hover {
  opacity: 1;
  background-color: rgb(78, 255, 190);
  color:rgb(0, 0, 0);
  text-shadow: 0px 0px 20px #0dfdc1;
}

.debugBox {
  position:absolute;
  left:0;
  top:0;
  font-size: 12px;
  width:200px;
  height: 15px;
  -webkit-box-shadow: inset 0px 0px 22px 2px rgba(0,255,30,1);
  -moz-box-shadow: inset 0px 0px 22px 2px rgba(0,255,30,1);
  box-shadow: inset 0px 0px 22px 1px rgba(0,255,30,1);
  background-color: black;
  color: lime;
}

.textEditor {
  font-size: 10px;
  width : 100%;
  max-width: 850px !important;
  min-width: 550px !important;
}

textarea {
  -webkit-box-shadow: inset 0px 0px 22px 2px rgba(0,255,30,1);
  -moz-box-shadow: inset 0px 0px 22px 2px rgba(0,255,30,1);
  box-shadow: inset 0px 0px 22px 1px rgba(0,255,30,1);
  background-color: black;
  color: lime;
}

.textureCanvas2d {
  display:none;
  position:absolute;
  left:-3000px;
  top:0px;
  width:512px;
  height:512px;
}

.add-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  top: 1px;
  left: 1px;
  width:100%;
  width: -webkit-fill-available;
  height:30%;
  background-color: rgb(27, 27, 27);
  font-family: "Courier New";
}

.button1 {
  background-color:  rgb(27, 27, 27);; 
  color: greenyellow; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color:  rgb(27, 27, 27);; 
  color: white; 
  border: 2px solid #4CAF50;
}

.button2:hover {
  background-color: #95af4c;
  color: white;
}

/** Style for UI system hud controls */

.matrixTagHolder {
  display:flex;
  flex-direction: column;
  position: absolute;
  left:0;top:0;
  background-color: black;
  color: #0080ff;
  font-family: stormfaze;
}

span {
  cursor: default;
  width: 100px;
}

.mLightInput {
  width: 150px;
  font-size: 26px;
}

.mLightCom {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border: solid #0c2540 3px;
}

#matrix-net {
  position: absolute;
  display: none;
  right: 0;
  height: 100%;
  width: 40vh;
  font-family: stormfaze;
  background-color: crimson;
}